.container{
  margin-left: 60px;
  margin-right: 60px;
}
.headline {
  height: 47px;
  width: 571px;
  color: #FFF;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  text-align: center;
  position: relative;

  top: 16.8vh;
}
.converter {
  height: 16vh;
  width: 70.5vw;
  background-color: #353535;
  position: relative;
  top: 32.3vh;
  border-radius: 18px;
  
}
.Form{
  display: flex;
  padding-top: 3vh;
  padding-left: 5vw;
  justify-content: space-between;
}
.result {
  height: 78px;
  position: relative;
  left: 50px;
  top: 40vh;
}
.p1-eur {
  height: 23px;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  line-height: 23px;
}
.h1-12392-usd {
  height: 47px;
  color: #FFF;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
}
.button-view-history {
  height: 14px;
  width: 136px;
  opacity: 0.5;
  color: #FFF;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  left: 83vw;
  top: 30vh;
}
.name {
  height: 2vh;
  width: 28px;
  color: #C6C6C6;
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
}
.background {
  height: 40px;
  width: 200px;
  opacity: 0.08;
  border-radius: 8px;
  background-color: #FFF;
  color: #FFF;
}

.default-value {
  color: #FFF;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
}
.input {
  height: 40px;
  width: 15.6vw;
  background-color: #454545;
  border-radius: 8px;
  border: 0;

  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  outline: 0;
}
.button-convert {
  height: 40px;
  width: 8.2vw;
  border-radius: 9px;
  margin-top: 30px;
  margin-right: 30px;
  border-block-style: none;
  background-color: #F3FF0A;
  box-shadow: white;
  border-color: #ffffff00   ;
  color: #1A1A1A;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
.box select {
  height: 40px;
  width: 15.6vw;
  background-color: #454545;
  border-radius: 8px;
  border: 0;

  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 19px;
  outline: 0;
}
.switcher {
  height: 12px;
  width: 12px;
  margin-top: 4vh;
}

.Reverse{
  height: 16px;
  fill: #F3FF0A;
}

