.background-upper-half {
    width: 100.8%;
    height: 50vh;
    background-color: #1A1A1A;
    position: relative;
    left: -10px;
    top: -10px;
  }

.hatch-studio-logo-combination- {
  height: 25px;
  width: 123.15px;
  position: relative;
  margin-left: 71px;
    top: 5vh;
}